/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

/inventario-front/.DS_Store
/inventario-front/node_modules/
/inventario-front/dist/
/inventario-front/npm-debug.log
/inventario-front/yarn-error.log

# Editor directories and files
/inventario-front/.idea
/inventario-front/*.suo
/inventario-front/*.ntvs*
/inventario-front/*.njsproj
/inventario-front/*.sln